.menuMk {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    display: inline-block;
    padding-right: 0.625rem;
    &:last-child {
      padding-right: 0;
    }
    a {
      font-size: 13px;
    }
  }
}
.mkWrapper {
  position: relative;
}
.mkForm {
  background-color: rgba(255, 255, 255, 0.99);
  border-radius: 3px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.13);
  input,
  textarea {
    background: #f1f1f1;
    border: 1px solid #dedede;
    background-color: #f5eeee;
    // border-radius: 3px;
    // box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.13);
    input,
    textarea {
      background: #ffffff;
      border: 1px solid #e3e3e3;
      padding: 16px;
      border-radius: 5px;
      height: auto;
    }
  }
}
.mklogo {
  height: 60px;
  width: 200px;
  margin: 20px auto;
}

.whybox1 {
  background: rgba(239, 239, 239, 1);
}
.whybox2 {
  background: rgba(239, 239, 239, 0.9);
}
.whybox3 {
  background: rgba(239, 239, 239, 0.8);
}
.whybox4 {
  background: rgba(239, 239, 239, 0.7);
}
.whybox5 {
  background: rgba(239, 239, 239, 0.5);
}
.whybox6 {
  background: rgba(239, 239, 239, 0.4);
}
.whybox7 {
  background: rgba(239, 239, 239, 0.2);
}
.whybox8 {
  background: rgba(239, 239, 239, 0.1);
}
.whybox9 {
  background: rgba(239, 239, 239, 0);
}

.partners {
  height: 170px;
  width: 85%;
  border: 4px solid #fde4d3;
  border-radius: 10px;
  margin: 50px auto 10px;
}

.whychose {
  box-shadow: 0px 0px 20px 10px rgba(23, 18, 18, 0.21);
  -webkit-box-shadow: 0px 0px 20px 10px rgba(23, 18, 18, 0.21);
  -moz-box-shadow: 0px 0px 20px 10px rgba(23, 18, 18, 0.21);
}

.newkitchen {
  width: 85%;
  height: 375px;
  margin: 350px auto 0;
  border: 1px solid rgba(252, 225, 209, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 10px rgba(23, 18, 18, 0.21);
  -webkit-box-shadow: 0px 0px 20px 10px rgba(23, 18, 18, 0.21);
  -moz-box-shadow: 0px 0px 20px 10px rgba(23, 18, 18, 0.21);
}

.span {
  padding: 3px 7px;
  border-radius: 100%;
  font-weight: bold;
  background-color: rgba(224, 223, 223, 1);
  margin: 0 10px 0 40px;
}

.meetText {
  max-width: 85%;
}

.gradient {
  background-image: linear-gradient(to bottom, #efefef, transparent);
}

.customerStoriesbg {
  background-image: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
