@import "../../theme/_variables";
@import "../../theme/_mixins";

.Container {
  position: relative;
  padding: 12px 5px 0;
  margin-bottom: 0;
  display: flex;
  background-color: #FAF4F2;
  &.overlap {
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
  }
 
}