.scrollToTop{
  background: #eeeeee;
  border-radius: 100%;
  position: fixed;
  text-align: center;
  right: 1rem;
  bottom: 3.5rem;
  z-index: 14;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
  button {
    background: transparent;
    border: none;
    height: 50px;
    width: 50px;
    transform: rotate(180deg) !important;
    font-size: 24px;
    line-height: 0.6;
    top: 2px;
    position: relative;
  }
}
