.idea/
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
static/dist/
static/m-dist/
static/pwa-dist/
*.iml
*.css.map
*.DS_Store
webpack-assets.json
webpack-stats.json
.happypack/
webpack/dlls/*.json
api/**/*.nedb
*.report.html
coverage/
version.json
.prettierrc
/git-folder