.PackageCatalogContainer {
  .PackageCatalog_info_container {
    -webkit-box-shadow: -1px 46px 28px -58px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -1px 46px 28px -58px rgba(0, 0, 0, 0.45);
    box-shadow: -1px 46px 28px -58px rgba(0, 0, 0, 0.45);
  }
  .caroselItem {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0px 20px 20px;
    .caroselImg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 184px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .prod_title {
      display: -webkit-box;
      max-width: 200px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .seletedProduct_container {
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0px 20px 20px;
    background: white;
    padding: 15px 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    .selected_prod_img {
      width: 30%;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 10px;
        border-radius: 7px;
        width: 100%;
        height: auto;
      }
    }
    .selected_prod_details {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 70%;
      button {
        padding: 7px 14px;
        font-size: 12px;
        text-align: center;
        background: #f4762a;
        border: none;
        border-radius: 4px;
        color: white;
      }
      .prodTitle {
        display: -webkit-box;
        max-width: 200px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
.package_bottom_fixed {
  position: fixed;
  background: white;
  color: #f47020;
  font-size: 14px;
  bottom: 0;
  right: 0;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  padding: 10px 30px 40px;
  z-index: 2;
  span {
    color: #323131;
  }
  .buttons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .saveBtn {
      background: #ea9671;
      font-size: 14px;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 15px;
      width: 47%;
    }
  }
}

.packageWarningBtns {
  background: #ea9671;
  font-size: 14px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 47%;
}

.package_plp_container {
  padding: 20px;
  overflow: auto;
  .listContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    max-height: 85vh;
    overflow: auto;
    padding-bottom: 70px;
    .caroselItem {
      width: 47%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      margin-bottom: 20px;
      .caroselImg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 184px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
      .prod_title {
        display: -webkit-box;
        max-width: 150px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  .select_container {
    width: 100%;
    background: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    button {
      width: 90%;
      border-radius: 5px;
      padding: 15px;
      background: white;
      border: 1px solid #f47020;
      color: #f47020;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}

.package_pdp_container {
  .prod_title {
    color: #323131;
    margin-bottom: 6px;
  }

  .price {
    font-weight: bold;
    height: 35px;
  }

  .pricecut {
    font-weight: bold;
    text-decoration: line-through;
    display: inline-block;
  }
  .custom_spec {
    background: #f9f9f9;
    div {
      border: none;
      h4 {
        border-left: none;
        border-right: none;
        border-top: none;
        color: #1d1d1d;
        font-weight: 600;
        font-size: 16px;
        border-color: #a6a5a5;
      }
      p {
        color: #323131;
      }
    }
  }
}
