@import "../../theme/_variables";
@import "../../theme/_mixins";

.storeSliderItem {
  .link {
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #fcd6c0;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
    // width: calc(100% - 100px);
    width: 100%;
    padding: 20px 5px;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    text-transform: uppercase;
    white-space: nowrap;
    &.active {
      background-color: rgba(255, 255, 255, 0);
      border: solid 1px $primary;
    }
  }
  padding: 5px 30px;
  &.active {
    .link {
      color: $primary;
      border: solid 1px $primary;
    }
  }
}
