@import "../../theme/_variables";
@import "../../theme/_mixins";

.addressBtn, .addAddressBtn {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 2px #efefef;
  padding: 0.625rem 1rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  line-height: 1.6;
  font-size: 14px;
  width: 100%;
  min-height: 120px;
  margin-bottom: 10px;
  &.active,
  &:hover {
    background-color: #ffffff;
    border: solid 2px $primary;
    outline: none;
    background: rgba(249, 141, 41, 0.07);
  }
}
.addAddressBtn {
  text-align: center;
}
