.googleMapWrapper {
  position: relative;
}
.filterWrapper {
  display: block !important;
  width: 100% !important;
  height: 100%;
  padding: 15px;
  .filterDD, select {
    border: 1px solid #dddfe2;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 #f5f5f5;
    padding: .625rem .75rem !important;
    width: 100%;
    font-size: 13px;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
    &:hover {
      .arrow {
        top: 16px !important;
      }
    }
  }
  .filterBlock {
    width: 100%;
    &:first-child {
      margin-bottom: 1rem;
    }
  }
  .dropDown {
    width: 100%;
    max-height: 250px;
    overflow: auto;
    label {
      text-transform: uppercase;
    }
  }
  .arrow {
    position: absolute;
    right: 10px;
    top: 13px;
    line-height: 0.5;
  }
  .cistList {
    height: calc(100% - 32px);
    overflow: auto;
    ul {
      padding-left: 0;
      li {
        list-style: none;
        button {
          background: transparent;
          border: none;
          text-align: left;
          padding: 0.5rem 1rem;
          width: 100%;
          &:hover {
            background: #efefef;
          }
        }
        address {
          font-size: 13px;
          color: #8e8e8e;
        }
      }
    }
  }
}
.directionBtn {
  border: 2px solid black !important;
  background-color: #f98d296b !important;
  color: black !important;
  padding: 5px 5px !important;
  font-size: 10px !important;
  cursor: pointer !important;
  border-color: #f98d293b !important;
  color: black !important;
  margin-top: 5px;
  width: 60px !important;
}
.selectLocation {
  background-color: white;
  border: 2px solid #008CBA;
  color: black;
  padding: 5px 10px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: #008CBA;
    color: white;
  }
}