@import "../../theme/_variables";
@import "../../theme/_mixins";

.link {
  display: block;
  position: relative;
  .prodImage {
    position: absolute;
    max-width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
  }
}
.combineItem {
  .title {
    @include font-size(1rem);
  }
  img {
    margin-bottom: 5px;
  }
}
.combineItemRow {
  overflow: auto;
}
.combineItemWrapper {
  padding: 0 15px;
  width: 44%;
  .content {
    text-align: left;
    // padding: 0 10px 0;
    min-height: 70px;
    .priceWrapper {
      margin-bottom: 4px;
      span {
        margin-right: 10px;
      }
    }
    .title {
      @include font-family(medium);
      @include font-size(0.825rem);
      margin: 10px 0 7px;
    }
    .discPrice {
      @include font-size('0.875rem');
      @include font-family(medium);
      color: $text-dark;
    }
    .price {
      color: rgba(0, 0, 0, 0.4);
      @include font-size(0.8rem);
      text-decoration: line-through;
    }
    .saving {
      @extend .price;
      text-decoration: none;
    }
    .rating {
      @include font-size(0.8rem);
      color: $text-light;
      margin-bottom: 4px;
      position: relative;
      &:before {
        content: '★ ';
        width:1em;
        // text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
        color: $primary;
        @include font-size(1rem);
        margin-right: 2px;
      }
    }
    .tags {
      color: $secondary;
      @include font-size(0.9rem);
    }
  }
}
.combinedProductsWrapper {
  //background: #f5f5f5;
  padding: 0;
  //border-radius: 10px;
  //box-shadow: 7px 7px 14px -9px rgba(124,122,122,0.5);
}
.combineBottom {
  //border-top: 2px dashed #ddd;
}
