.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  color: #999999;
  margin: 10px 0px 20px;
}
.iconrotate {
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
}
