.PBContainer {
      background-color: #FFF8F4;
      width: 100%;
      padding: 15px 20px 16px;
      margin-top: -8px;
      .PBContainerInnner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-top: 1px #999999 dashed;
        .PBItem,
        .PBItemActive {
          background-color: #fff8f4;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -11px;
          .number {
            color: black;
            font-size: 12px;
            font-weight: 600;
            background-color: #e0dfdf;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-left: 2px;
          }
          .text {
            color: #999999;
            font-size: 12px;
            margin-left: 5px;
            margin-right: 2px;
          }
        }
        .PBItemActive {
          .number {
            color: #f47020;
            font-weight: 500;
            border: 1px solid #f47020;
            background-color: white;
          }
          .text {
            color: #f47020;
          }
        }
      }
    }