@mixin font-family($type) {
  font-family: #{$type};
}
@mixin font-size($size) {
  font-size: #{$size};
}
@mixin border($borderWidth, $borderColor, $borderType) {
  @if $borderType == 'full' {
    border: $borderWidth solid $borderColor !important;
  } @else {
    border-#{$borderType}: $borderWidth solid $borderColor !important;
  }
}
@mixin margin($type, $size) {
  @if $type == 'both' {
    margin: #{$size}px
  } @else {
    margin-#{$type}: #{$size}px
  }
}
@mixin padding($type, $size) {
  @if $type == 'both' {
    padding: #{$size}px
  } @else {
    padding-#{$type}: #{$size}px
  }
}
