@import "../../theme/_variables";
@import "../../theme/_mixins";

.buyNowBtn {
  font-family: regular;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 14px;
  color: #FFF;
  background-color: #f98d29;
  border: 1px solid #f98d29;
  height: 40px;
  &:hover {
    opacity: 0.85;
    // background: transparent;
    // span {
    //   color: $primary !important;
    // }
  }
}
.goTobuyNowBtn {
  line-height: 1.65;
  display: inline;
  position: relative;
  top: 7px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: .375rem .75rem;
  font-size: 14px;
  color: $white;
  background-color: $primary;
  border-color: $primary;
  border: 1px solid;
  padding: 10px 15px;
  margin: 0 5px;
  &:hover {
    opacity: 0.85;
    // color: $primary;
    // background-color: $white;
  }
}
