.maincarousel_one {
  width: 100%;
  /* margin-left: 10%;
  margin-right: 10%; */
}
.maincarousel_one .slick-dots {
  /* margin-top: 15px; */
  position: relative;
}

.maincarousel_one .slick-dots li {
  margin-left: 0px;
  margin-right: 0px;
}

.maincarousel_one .slick-dots li.slick-active div {
  border-top: 3px solid black !important;
  margin-top: -1px;
}

.offset .slick-slide:first-child:not(.slick-active),
.offset .slick-slide:first-child:not(.slick-active) ~ .slick-slide {
  transform: translate3d(20%, 0px, 0px);
}

.slick-prev,
.slick-next {
  height: 80px !important;
  width: 80px !important;
}
.slick-prev,
.slick-next {
  top: 40% !important;
}
