.carousel-one .slick-dots {
  /* margin-top: 15px; */
  position: relative;
}

.carousel_two .slick-list {
  margin-left: 9%;
}

.carousel-one .slick-dots li {
  margin-left: 0px;
  margin-right: 0px;
}

.carousel_three .slick-track {
  margin-bottom: 25px;
}

.carousel-one .slick-dots li.slick-active div {
  border-top: 3px solid black !important;
  margin-top: -1px;
}
.carousel_three .slick-slide {
  /* margin-left: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white; */
}

/* .slick-slide:first-child + .slick-slide {
    transform: translate3d(0%, 0px, 0px);
  } */

.offset .slick-slide:first-child:not(.slick-active),
.offset .slick-slide:first-child:not(.slick-active) ~ .slick-slide {
  transform: translate3d(20%, 0px, 0px);
}
