@import "../../theme/_variables";

.pdpPincode {
  position: relative !important;
  padding-top: 0 !important;
  margin-top: 0.3125rem !important;
  width: 100% !important;
  clear: both !important;
  .pincodeCheckBtn {
    position: absolute !important;
    background: #d6d6d6;
    border: none !important;
    font-size: 1rem !important;
    font-weight: bold;
    right: 0 !important;
    top: 0 !important;
    height: 40px;
    width: 25%;
    color: #666666;
    padding: 0 20px;
    border-radius: 7px;
  }
  .pincodeIcon {
    position: absolute !important;
    background: transparent !important;
    border: none !important;
    font-size: 0.75rem !important;
    left: 5px !important;
    top: 8px !important;
    width: 24px !important;
    height: 24px !important;
  }
  input {
    text-align: left !important;
    font-size: 0.875rem !important;
    padding-left: 35px !important;
    width: 70%;
    border-color: #e9916b;
    border-radius: 7px;
  }
}
