.prodZoomView {
  background: #FFF;
  .imgSliderContainer {
    background: #FFF;
    .imageContainer{
      width: 100%;
      height: 100%;
      img {
        max-width: inherit;
      }
    }
    .previous {
      left: 10px;
      top: calc(50vh - 20px);
    }
    .next {
      right: 10px;
      top: calc(50vh - 20px);
    }
    button {
      position: fixed;
      padding: 0;
      background: transparent;
      border: none;
      font-size: 3rem;
      line-height: 0;
      width: 40px;
      padding-bottom: 0;
      height: 40px;
      top: calc(50% - 25px);
      z-index: 1;
    }
  }
  .content {
    padding-top: 2rem;
    h4 {
      font-size: 1.5rem;
      font-family: regular;
    }
  }
  .thumb {
    margin-top: 1.5rem !important;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    width: calc(100% - 20px);
    .thumbBtn {
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
      background: transparent;
      border: none;
      margin: 0 3px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
      border: solid 3px transparent;
      transition: all 0.5s ease;
      padding: 0;
      &.active, &:hover{
        border: solid 3px #f98d29;
      }
    }
    .sliderImage{
      height: 65px;
      width: 65px;
    }
  }
}
