.closeBtn {
  position: absolute;
  right: 0;
  width: 20px;
  top: 9px;
  background-color: transparent;
  border-color: transparent;
  border: none;
  padding: 0;
  margin-top: -2px;
  transition: 0.5s height ease, 0.3s opacity ease-in;
  opacity: 1;
}
.hideRibbon {
  height: 0 !important;
  opacity: 0;
  // visibility: hidden;
}
